
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+Pro&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif ;
}
.navbar{
    display: flex;
    background-color: rgb(1, 87, 80);
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.logo img{
    width: 26%;
    margin: 5px;


}

.navlist{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 70%;
    /* background-color: bisque; */

}
.navlist li{
    list-style: none;
    padding: 20px 30px;
}

.navlist li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.navlist li a:hover{
    color: rgb(250, 114, 155);
    border-bottom: 1px solid white;
}

.rightNav{
    /* background-color: aqua; */
    width: 30%;
    text-align: right;
    padding: 0 23px;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    box-shadow: 4px 6px 9px -3px rgba(100,100,100,0.75) inset;
    margin-right: 10px;

}


.background{
    background: rgba(59, 59, 59, 0.8) url('img/bg.jpg');
    background-size: cover;
    /* position: fixed; */
    margin-top: -20px;
    background-blend-mode: darken;
    
}

section{
    height: 100vh;
}



.main-box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 50%;
    margin: 12px auto;
    height: 80%;
}

.firstSec{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.firstSec p{
    color: white;
}
/* .secondSec{
    width: 30%;
    margin-left: 5px;
}
.secondSec img{
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 50%;
   
} */

.text-big{
    font-size: 2.5rem;
    font-weight: 600;
}
.text-small{
    font-size: 1rem;
}
.btn{
    border: none;
    outline: none;
    font-size: 14px;
    padding: 6px 15px;
    border-radius: 5px;
    margin: 7px 3px;
    box-shadow: 4px 6px 9px -3px rgba(92, 91, 91, 0.75) inset;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.btn:hover{
    color: rgb(253, 38, 103);
}

.btn-sm{
    padding: 5px 10px;
    font-family: 'Poppins', sans-serif;
}
.btn-dark{
    background-color: rgb(1, 87, 80);
    color: white;
}

.secRight{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    
}
.para{
    padding: 0 30px;
}

.secLeft{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    max-width: 80%;
    margin: auto;
    background-color: rgb(242, 252, 255);
    
}

.thumbnail img{
    width: 300px;
}

.contact{
    /* background-color: rgba(97, 100, 100, 0.7); */
    height: 550px;
    margin-top: 10px;
    
}

.text-center{
    text-align: center;
    font-size: 1.8rem;
}
.form{
    max-width: 500px;
    margin: 20px auto;
    
}
.form input{
    margin: 15px 0;
    padding: 8px 10px;
    width: 100%;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid rgb(165, 165, 165);
    border-radius: 5px;
    box-shadow: 4px 6px 9px -3px rgba(100,100,100,0.75) inset;
    font-family: 'Source Sans Pro', sans-serif;
}

.msg{
    margin: 10px 0;
    padding: 5px 10px;
    width: 100%;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid rgb(165, 165, 165);
    border-radius: 5px;
    box-shadow: 4px 6px 9px -3px rgba(100,100,100,0.75) inset;
    font-family: 'Source Sans Pro', sans-serif;
}

hr{
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

.footer{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
    color: white;
    background-color: rgb(1, 87, 80);
}

.dashes{
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
    display: none;
}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}

.icons{
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    position: fixed;
    z-index: 100;
}
.icons ul{
    padding: initial;
}

.icons ul li{
    height: 40px;
    width: 40px;
    list-style-type: none;
    padding-left: 10px;
    padding-top: 6px;
    margin-top: 5px;
    color: lavender;
    background: rgb(1, 87, 80);
    
}

.facebook, .insta, .twitter, .youtube{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}


.icons ul li:hover{
    width: 60px;
    color: rgb(250, 114, 155);
}



/* responsive */

@media only screen and (max-width: 1190px){
    .navlist{
        flex-direction: column;
    }
    .navbar{
        height: 450px;
        flex-direction: column;
        transition: all 0.5s ease-in;
    }
    .rightNav{
        text-align: center;
    }
    #search{
        width: 100%;
    }
    .dashes{
        display: block;
    }

    .h-nav{
        height: 70px;
    }
    .v-class{
        opacity: 0;
    }
    .secRight{
        flex-direction: column-reverse;
        height: 100%;
        margin: 40px auto;
    }
    .secLeft{
        flex-direction: column-reverse;
        height: 100%;
    }

    .secTag{
        font-size: 2rem;
    }
    .subtag{
        font-size: 0.9rem;
    }
    .para{
        padding: 0;
    }
    .firstSec{
        margin-top: 40px;
    }
}





